.nav {
  background-color: $bg-color-nav;
  margin-bottom: 2.2rem;

  &__list {
    margin-block-start: -0.5rem;
    margin-block-end: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2.2rem 0;

    @include mqMin(990px) {
      max-width: 1000px;
      margin: -0.5rem auto;
      justify-content: flex-end;
    }

    &--item {
      > a {
        text-transform: uppercase;
        color: $font-color;
        text-decoration: none;
      }
    }

    @include mqMax(430px) {
      flex-direction: column;
      gap: 1rem;
      padding-left: 2rem;
    }
  }
}

.main {
  max-width: calc(1000px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;

  &__box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include mqMin(990px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin: 8rem 0;
    }

    .img {
      width: 100%;
      max-width: 300px;

      @include mqMax(350px) {
        display: none;
      }
    }

    &--text {
      max-width: 500px;

      @include mqMax(990px) {
        text-align: center;
      }

      .title {
        margin-top: 0;
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;

        @include mqMax(990px) {
          margin-top: 2rem;
        }
      }

      .btn {
        display: inline-block;
        color: #ffffff;
        font-size: 13px;
        padding: 0.5rem 4.5rem;
        background-color: #3697a7;
        text-transform: uppercase;
        text-decoration: none;

        @include mqMax(990px) {
          margin-bottom: 2rem;
          padding: 0.5rem 2.5rem;
        }

        @include mqMin(990px) {
          margin: 3rem 0;
        }
      }
    }
  }
}

.boxes {
  &__title {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;

    @include mqMin(990px) {
      text-align: left;
    }
  }

  &__group {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include mqMin(990px) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8rem;
    }
  }

  .img {
    width: 100%;
    height: auto;
  }
}

.box {
  max-width: 300px;
  background-color: $bg-color-secundary;

  &__text {
    padding: 1rem;
    text-align: left;

    > h3 {
      text-transform: uppercase;
      font-size: 0.9rem;
    }

    > p {
      font-size: 13px;
    }
  }
}

.footer {
  padding: 2.2rem;
  text-align: center;
}
