html,
body {
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
  font-size: $font-size;
  background: $bg-color;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: 0;
}

h1,
h2 {
  font-weight: 300;
}
